<div class="container">
    <h1>shorten the Url</h1>
    <form action="/shortUrl/url" method="POST">
        <div class="form-group">
            <label>Original Url</label>
            <input type="text" class="form-control" name="OriginalUrl">
        </div>
        <button type="submit" class="btn btn-success">Short URL</button>
    </form>
</div>